# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.venv/

# VS Code
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Logs
*.log

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Test outputs
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# adb pull output folders (optional: exclude downloaded data folders)
*_data/
